body {
    margin-top: 1em;
    margin-left: 1em;
}

.shownav {
    position: fixed;
    z-index: 1000;
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.1em;
}

.shownav:before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0.3em;
    left: 0px;
    border-top: 0.2em solid white;
}

#clicked:target nav {
    display: grid;
    white-space: nowrap;
    grid-template-areas: 
    "close"
    "home" 
    "portfolio" 
    "blog" 
    "contact" 
    "sitereport"; 
    grid-template-rows: 10% 10% 10% 10% 10% 10%;
}

#clicked:target #close {
    display: block;
}

nav {
    display: none;
    background-color: rgba(194, 9, 86, 80%);
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
}

body {
    display: grid;
    grid-template-areas:
    "nav"
    "aside"
    "main"
    "footer";
}

aside {
    max-width: 16em;
}

.profileimage {
    max-width: 10em;
    text-align: center;
    margin-left: 2.5em;
}

main {
    max-width: fit-content;
    margin-top: 1em;
    margin-left: auto;
}

main > section {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "cosplay1"
    "header1"
    "cosplay2"
    "text1"
    "cosplay3"
    "text2"
    "header2"
    "header3"
    "text3";
}

main > section > img {
    padding-left: 7em;
}

main > form {
    margin-left: 0.5em;
    max-width: 15em;
    grid-template-rows: max-content;
}

.colourpalette {
    max-width: 15em;
    text-align: center;
}

.wisteria {
    max-width: 15em;
    text-align: center;
}

.font_style {
    max-width: 15em;
    text-align: center;
}