body {
    font-family: body;
    display: grid;
    grid-template-areas:
    "nav nav nav"
    "aside main main"
    "footer footer footer";
}

nav {
    margin-top: 0.5em;
    grid-area: nav;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas: "home portfolio blog contact sitereport";
    background-color: rgba(194, 9, 86, 60%);
    margin-right: 30em;
    padding-left: 1em;
    font-size: x-large;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

nav > a {
    text-align: center;
    padding: 1em;
}

#home {
    grid-area: home;
}

#portfolio {
    grid-area: portfolio;
}

#blog {
    grid-area: blog;
}

#contact {
    grid-area: contact;
}

#sitereport {
    grid-area: sitereport;
}

aside {
    padding-top: 3em;
    text-align: center;
}

aside > p > a {
    color: rgba(147, 129, 255, 90%);
}

aside > p > a:hover {
    color: rgba(255, 216, 190, 90%);
}

main {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.5em;
    grid-area: main;
    background-color: rgba(184, 184, 255, 90%);
    color: white;
    border-radius: 1em;
    font-size: x-large;
}

main > h1 {
    text-align: center;
}