
main {
    margin-left: -2em;
    margin-top: 1em;
    padding-top: 2em;
    text-align: center;
    font-size: x-large;
    font-weight: 600;
}

form {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2em 2em 2em 2em 2em 2em 2em 2em;
}

aside {
    font-size: x-large;
    text-align: justify;
    margin-left: 1.35em;
    font-weight: 500;
}