
main {
    margin: 0;
    margin-left: -20em;
}

form {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10em 10em 10em 10em 10em 10em 10em;
    gap: 2em;
}

aside {
    font-size: x-large;
    text-align: justify;
}