aside {
    font-size: x-large;
    text-align: justify;
    margin-left: 1.35em;
    font-weight: 500;
}

main {
    margin-top: 1em;
    text-align: center;
    font-size: x-large;
    font-weight: 600;
}

form {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2em 2em 2em 2em 2em 2em 10em 2em;
}

#enquiry_information > textarea {
    min-height: 15em;
    min-width: 30em;
}