aside {
    padding-top: 3em;
    padding-left: 0;
    padding-right: 0;
}

.profileimage {
    margin-left: 4em;
    margin-right: 4em;
}

aside > p {
    padding-left: 2em;
    padding-right: 2em;
}

main > h1 {
    font-size: 3em;
}

main {
    margin-left: 1.5em;
}

main > section {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 1em;
    font-size: larger;
}

article {
    border: 0.3em dotted white;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
}

main > article > h2 {
    text-align: left;
}

main > article > p {
    text-align: justify;
}