aside > h3 {
    margin-top: 0.5em;
    margin-bottom: 0;
}

aside > img:hover {
    transform: scale(2) translate(10em, -3em);
    position: sticky;
    transition: 0.5s ease-in;
}

main {
    margin-top: 1em;
    font-size: x-large;
    text-align: justify;
}

.colourpalette {
    align-content: center;
    max-height: 8em;
}

.font_style {
    align-content: center;
    max-height: 8em;
}

.wisteria {
    align-content: center;
    max-height: 12em;
}

main > p > a {
    color: rgba(147, 129, 255, 90%);
}

main > p > a:hover {
    color: rgba(255, 216, 190, 90%);
   }